@charset "UTF-8";
.e-grid-1 {
  width: 12.5vw;
  height: auto; }

.e-grid-2 {
  width: 25vw;
  height: auto; }

.e-grid-3 {
  width: 37.5vw;
  height: auto; }

.e-grid-4 {
  width: 50vw;
  height: auto; }

.e-grid-5 {
  width: 62.5vw;
  height: auto; }

.e-grid-6 {
  width: 75vw;
  height: auto; }

.e-grid-7 {
  width: 87.5vw;
  height: auto; }

.e-grid-8 {
  width: 100vw;
  height: auto; }

.e-pull-left-top {
  align-self: flex-start; }

.e-pull-top {
  margin: 0 auto;
  margin-bottom: auto;
  align-self: flex-start; }

.e-pull-right-top {
  margin-left: auto;
  align-self: flex-start; }

.e-pull-left {
  margin-right: auto;
  align-self: center; }

.e-pull-center {
  margin: 0 auto;
  align-self: center; }

.e-pull-right {
  margin-left: auto;
  align-self: center; }

.e-pull-left-bottom {
  margin-right: auto;
  align-self: flex-end; }

.e-pull-bottom {
  margin: 0 auto;
  align-self: flex-end; }

.e-pull-right-bottom {
  margin-left: auto;
  align-self: flex-end; }

.e-reverse-row {
  flex-direction: row-reverse; }

.e-reverse-col {
  flex-direction: column-reverse; }

.e-nowrap {
  flex-wrap: nowrap; }

.e-wrap {
  flex-wrap: wrap; }

.e-item {
  white-space: normal;
  word-break: break-all; }

.e-img {
  width: auto;
  height: 100%; }

.e-img > img {
  border-radius: 3px;
  width: 100%;
  height: auto; }

.e-icon {
  min-width: 12px;
  min-height: 12px;
  max-width: 48px;
  max-height: 48px; }

.e-icon > img {
  border-radius: 5px;
  height: 100%;
  width: 100%; }

.e-icon > * {
  border-radius: 5px;
  height: 100%;
  width: 100%; }

.e-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  border: 1px solid #ccc; }

.e-list > .e-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: inherit;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  line-height: 1.5em;
  margin: -1px 0 0 0;
  padding: 10px 15px;
  font-size: inherit;
  border: 1px solid #ccc;
  cursor: pointer;
  border-left: none;
  border-right: none; }

.e-list > .e-item:hover {
  background-color: #f5f5f5; }

.e-list > .e-item.e-active {
  color: white;
  background-color: #275ab7; }

.e-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start; }

.e-nav > .e-item {
  padding: 0.5em 0.2em;
  width: inherit;
  line-height: 1.5em;
  margin-top: -1px;
  padding: 10px 15px 0px 15px;
  color: inherit;
  font-size: 14px;
  font-family: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }

.e-nav > .e-item:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.e-nav > .e-item.e-active {
  border-bottom: 1px #275ab7 solid; }

.e-corner {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  /* Firefox */
  -webkit-box-sizing: content-box;
  /* Safari */
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  min-width: 19px;
  min-height: 23px;
  max-width: 19px;
  max-height: 23px;
  color: #f0f0f0;
  background-color: #275ab7;
  font-size: 12px;
  padding: 2px 0 0 5px;
  margin-left: auto;
  cursor: pointer;
  order: 1; }

.e-button > button,
.e-button > input[type='button'],
.e-button > input[type='submit'],
.e-button > input[type='reset'] {
  align-self: flex-start;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  width: auto;
  height: 3em;
  padding: 10px 15px;
  background-color: white;
  border: #ccc 1px solid;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease;
  min-width: 80px; }

.e-button > button:active,
.e-button > input[type='button']:active,
.e-button > input[type='submit']:active,
.e-button > input[type='reset']:active {
  background-color: #f5f5f5; }

.e-switch {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: inherit; }

.e-switch > label {
  order: 0; }

.e-switch > input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 60px;
  min-height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #dadada;
  order: 1;
  margin-left: 4em;
  position: relative;
  outline: none;
  border: none;
  transition: all 0.2s ease; }

.e-switch > input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: all 0.2s ease; }

.e-switch > input[type='checkbox']:checked {
  background-color: #275ab7; }

.e-switch > input[type='checkbox']:checked::after {
  left: 50%; }

.e-switch.e-full-width > input[type='checkbox'] {
  margin-left: auto; }

.e-input-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0.5em;
  width: auto;
  outline: none; }

.e-input-row > input {
  order: 0;
  border: #DADADA 1px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: auto;
  padding: 5px 10px;
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

.e-input-row > label {
  min-width: 4em;
  order: -1; }

.e-radio,
.e-checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.e-radio > label,
.e-checkbox > label {
  order: 1;
  padding-left: 0.2em; }

.e-radio > input[type='radio'],
.e-checkbox > input[type='checkbox'] {
  order: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 20px;
  min-height: 20px;
  border: 1px solid #ccc;
  outline: none; }

.e-radio > input[type='radio']:checked,
.e-checkbox > input[type='checkbox']:checked {
  background-color: #275ab7;
  border-color: #275ab7; }

.e-radio > input[type='radio']:checked::before,
.e-checkbox > input[type='checkbox']:checked::before {
  content: "";
  display: inline-block;
  border-top: 8px solid white;
  border-left: 2px solid white;
  position: relative;
  left: 5px;
  transform: rotate(-30deg); }

.e-radio > input[type='radio']:checked::after,
.e-checkbox > input[type='checkbox']:checked::after {
  content: "";
  display: inline-block;
  border-top: 14px solid white;
  border-left: 2px solid white;
  position: relative;
  left: 10px;
  transform: rotate(45deg); }

.e-radio > input[type='radio'] {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.e-checkbox > input[type='checkbox'] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

[class*='e-icon-'] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  /* Firefox */
  -webkit-box-sizing: content-box;
  /* Safari */ }

.e-base-ignore,
.e-icon-downarrow,
.e-icon-leftarrow,
.e-icon-rightarrow,
.e-icon-uparrow {
  width: 0;
  height: 0; }

.e-icon-downarrow {
  border-top: 8px solid #ccc;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.e-icon-uparrow {
  border-bottom: 8px solid #ccc;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; }

.e-icon-leftarrow {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 8px solid #ccc; }

.e-icon-rightarrow {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 8px solid #ccc; }

.e-button > button > .e-icon,
.e-button > input[type='button'] > .e-icon,
.e-button > input[type='submit'] > .e-icon,
.e-button > input[type='reset'] > .e-icon {
  margin-right: 5px;
  align-self: center;
  z-index: 0;
  order: -1;
  width: auto;
  height: 24px;
  position: relative;
  margin-top: -2px; }

.e-button > button > .e-icon > img,
.e-button > input[type='button'] > .e-icon > img,
.e-button > input[type='submit'] > .e-icon > img,
.e-button > input[type='reset'] > .e-icon > img {
  width: auto;
  height: 24px; }

.e-button > button > .e-symbol,
.e-button > input[type='button'] > .e-symbol,
.e-button > input[type='submit'] > .e-symbol,
.e-button > input[type='reset'] > .e-symbol {
  margin-left: 10px;
  align-self: center;
  z-index: 0;
  order: 1;
  position: relative; }

.e-pullmenu {
  align-self: flex-start;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start; }

.e-pullmenu > .e-button {
  width: inherit;
  margin-bottom: 0px; }

.e-pullmenu > .e-button > button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: auto;
  padding-right: 25px; }

.e-pullmenu > .e-button > button > span {
  margin-left: auto;
  align-self: center;
  position: relative;
  left: 10px;
  z-index: 0;
  order: 1; }

.e-pullmenu > .e-list {
  position: absolute;
  margin-top: 50px;
  width: inherit;
  visibility: hidden; }

.e-pullmenu > .e-list .e-item {
  width: 100%;
  z-index: 1; }

.e-input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start; }

.e-input-group > * {
  margin-right: 1em; }

.e-input-row.e-input-fixed > input {
  order: 0;
  border: #DADADA 1px solid;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: auto;
  padding: 5px 10px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  margin-right: 0; }

.e-input-row.e-input-fixed > span {
  margin-left: -1px;
  margin-right: 0;
  border: 1px solid #dadada;
  padding: 5px 5px; }

.e-input-row.e-input-fixed > .e-pullmenu {
  margin: 0 -1px;
  height: auto; }

.e-input-row.e-input-fixed > .e-pullmenu > .e-list {
  margin-top: 32px;
  margin-left: -1px; }

.e-input-row.e-input-fixed > .e-pullmenu > .e-button {
  margin-left: -1px;
  padding-left: 0; }

.e-input-row.e-input-fixed > .e-pullmenu > .e-button > button {
  height: auto;
  padding: 5px 30px 5px 15px;
  margin: 0; }

.e-button > button > .e-icon.e-pull-right,
.e-button > input[type='button'] > .e-icon.e-pull-right,
.e-button > input[type='submit'] > .e-icon.e-pull-right,
.e-button > input[type='reset'] > .e-icon.e-pull-right {
  margin-left: 10px;
  align-self: center;
  z-index: 0;
  order: 1;
  position: relative; }

.e-button.e-reverse > button,
.e-button.e-reverse > input[type='button'],
.e-button.e-reverse > input[type='submit'],
.e-button.e-reverse > input[type='reset'] {
  border: none;
  color: white;
  background-color: #275ab7; }

.e-button.e-reverse > button:active,
.e-button.e-reverse > input[type='button']:active,
.e-button.e-reverse > input[type='submit']:active,
.e-button.e-reverse > input[type='reset']:active {
  color: inherit;
  background-color: white;
  border: 1px solid #ccc; }

body * {
  margin: 0.1em;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif; }

form {
  margin: 1em; }

form > * {
  margin-bottom: 1em; }

form > .e-input-row {
  margin-bottom: 1em; }

/* 小屏幕兼容 */
/* @media all and (max-width:800px) {
	.col-1{width: 33.33%;}
	.col-2{width: 50%;}
	.col-3{width: 83.33%;}
	.col-4,
	.col-5,
	.col-6{
		width: 100%;
	}
	.row .col-2:last-of-type{width: 100%;}
	.row .col-5 ~ .col-1{width: 100%;}
} */
