.e-button > button > .e-icon,
.e-button > input[type='button'] > .e-icon,
.e-button > input[type='submit'] > .e-icon,
.e-button > input[type='reset'] > .e-icon{
	margin-right: 5px;
	align-self: center;
	z-index: 0;
	order: -1;
	width: auto;
	height: 24px;
	position: relative;
	margin-top: -2px;
}

.e-button > button > .e-icon > img,
.e-button > input[type='button'] > .e-icon > img,
.e-button > input[type='submit'] > .e-icon > img,
.e-button > input[type='reset'] > .e-icon > img{
	width: auto;
	height: 24px;
}

.e-button > button > .e-symbol,
.e-button > input[type='button'] > .e-symbol,
.e-button > input[type='submit'] > .e-symbol,
.e-button > input[type='reset'] > .e-symbol{
	margin-left: 10px;
	align-self: center;
	z-index: 0;
	order: 1;
	position: relative;
}

// 下拉菜单
.e-pullmenu{
	align-self: flex-start;
	@include display-flex-flow-items(column nowrap);
}
.e-pullmenu > .e-button{
	width: inherit;
	margin-bottom: 0px;
}
.e-pullmenu > .e-button > button{
	@include border-radius(2px);
	width: auto;
	padding-right: 25px;
}
.e-pullmenu > .e-button > button > span{
	margin-left: auto;
	align-self: center;
	position: relative;
	left: 10px;
	z-index: 0;
	order: 1;
}
.e-pullmenu > .e-list{
	position: absolute;
	margin-top: 50px;
	width: inherit;
	visibility: hidden;
}
.e-pullmenu > .e-list .e-item{
	width: 100%;
	z-index: 1;
}

// 单选组和多选组
.e-input-group{
	@include display-flex-flow-items(row nowrap);
}

.e-input-group > *{
	margin-right: 1em;
}
